%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

- if @user.id==@currentUser.id
  = button_to "Logout", logout_path(@user), method: :get, class: "btn btn-info"
- elsif @currentUser.followees.include?(@user)
  = button_to "Unfollow", unfollow_user_path(@user), method: :post, class: "btn btn-info"
- else
  = button_to "Follow", follow_user_path(@user), method: :post, class: "btn btn-info"

%br

- if @user.posts.any?
  .container
    - @user.posts.each do |post|
      .row
        %p
          %b Name:
          = @user.name
      .row
        %p
          %b Time:
          = post.created_at
      .row
        %p
          %b Message:
          = post.msg
      %br
        
%br